<!-- Every chart needs to have a unique id -->
<div align='center'>
    <chartjs-component 
                    [chartTitle]="'Example Chart1'" 
                    [chartType]="'doughnut'" 
                    [chartData]='data' 
                    [chartLabels]='labels'>
    </chartjs-component>
</div>

<hr>

<div align='center'>
    <chartjs-component 
                    [chartTitle]="'Example Chart2'" 
                    [dataSetLabel]="'Bar Chart'" 
                    [chartType]="'bar'"
                    [chartData]='data' 
                    [chartLabels]='labels'>
    </chartjs-component>
</div>

